body {
  margin: 0;
  color: #663f3f;
  text-align: center;
  font-family: verdana, sans-serif;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  margin-bottom: 0;
  color: #ec4646;
  text-shadow: 1.05px 1.05px 1.5px #ff2e63;
}

h2 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 38px;
  color: #ec4646;
  margin-bottom: 0;
}

h3 {
  font-size: 28px;
  font-family: 'Yusei Magic', sans-serif;
  margin-top: 0;
  color: #663f3f;
}

p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  padding-top: 15px;
}

hr {
  border-style: dotted hidden hidden hidden;
  width: 10%;
  border-width: 15px;
  animation: animationForHorizontalRule;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
hr:hover {
  animation: animationForHorizontalRule;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes animationForHorizontalRule {
  from {
    width: 10%;
  }

  to {
    ;
    width: 16%;
  }
}

.topContainer {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: #bbf1fa;
  position: relative;
  padding-top: 120px;
}

.topCloud {
  position: absolute;
  right: 250px;
  top: 40px;
  animation: forTopCloud;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes forTopCloud {
  0% {
    right: 250px;
  }

  50% {
    right: 380px;
  }

  100% {
    right: 250px;
  }
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 280px;
  animation: forBottomCloud;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes forBottomCloud {
  0% {
    left: 450px;
  }
  50% {
    left: 300px
  }
  100% {
    left: 450px;
  }
}

.mountain {
  position: relative;
  animation: animationForMountain;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
}

@keyframes animationForMountain {
  0% {
    position: relative;
    left: 0;
    bottom: 0;
  }

  50% {
    position: relative;
    left: 10px;
    bottom: 10px;
  }

  100% {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.mountain:hover {
  position: relative;
  animation: animationForMountainHover;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
}

@keyframes animationForMountainHover {
  0% {
    position: relative;
    left: 0;
    bottom: 0;
  }

  50% {
    position: relative;
    left: 15px;
    bottom: 15px;
  }

  100% {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.coding {
  width: 210px;
  padding-bottom: 20px;
}

.sajalProfilePicture {
  width: 290px;
  filter: contrast(1);
  background: linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 9px;
  border-radius: 100%;
  animation: animationForProfilePicture;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes animationForProfilePicture {
  0% {
    background: linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 0;
    border-radius: 100%;
    filter: opacity(0);
  }

  85% {
    background: linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 0;
    border-radius: 100%;
    filter: opacity(75%);
  }

  100% {
    background: linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 8px;
    border-radius: 100%;
    filter: opacity(100%);
  }
}

.middle-container {
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #bbf1fa;
}

.videoEditingIcon {
  width: 340px;
  padding-bottom: 20px;
}

.contact-me {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #bbf1fa;
}

.bottom-container {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #bbf1fa;
  margin-bottom: 0;
}

.socialMediaIcon {
  width: 40px;
}
